include ../includes/boilerplate
header
    block page-intro
main
    div.links-container.project-page
        a#back-to-projects â†
        script. 
            document.getElementById("back-to-projects").addEventListener("click", () => history.back())
        span
            a(href='#') Code
            a(href='#') Live
    h3 Technical sheet code 
    block technical
    h3 Random facts
    block facts
    block content
include ../includes/footer