include ../includes/boilerplate
header
    block page-intro
        h1 h1 block page-intro
main
    div.links-container.project-page
        a#back-to-projects â†
        script. 
            document.getElementById("back-to-projects").addEventListener("click", () => history.back())
    block wall
        p block wall : to change this content
include ../includes/footer