- 
    const projectsDb = [
        {
            title : 'Samwyle',
            description : 'A website for an imaginary coffee shop, yup it does not exist.',
            id : 'samwyle',
        },
        {
            title : 'Tic Tac Toe',
            description : 'Simple tic tac toe game, lets be strong and not get addicted.',
            id : 'tic-tac-toe',
        },
        {
            title : 'Todo',
            description : 'A simple todo app, lets make a list and forget forever.',
            id : 'todo',
        },
        {
            title : 'Coffee station',
            description : 'Yet another imaginary coffee shop gets a website.',
            id : 'coffee-station',
        },
        {
            title : 'Markdown editor',
            description : 'Who doesn\'t love markdown! Here is a simple, yet elegant markdown editor web app',
            id : 'mde',
        },
    ]