nav a.active,
nav a:hover,
main > .links-container a,
article > .links-container a {
    color: var(--accent) !important;
    border-color: var(--accent) !important;
}

.links-container a {
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--text);
    display: inline-block;
    padding: 0.1rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2;
    text-align: center;
    margin-inline-end: 1em;
}
.project-page.links-container {
    display: flex;
    justify-content: space-between;
}

.links-container {
    display: flex;
    align-items: center;
}
