a {
	text-underline-offset: 5%;
}

header > nav a.active,
header > nav a:hover {
	color: var(--accent);
	border-color: var(--accent);
}
a.nav-like {
	border: 1px solid var(--border);
	border-radius: 5px;
	color: var(--text);
	display: inline-block;
	padding: 0.1rem 1rem;
	text-decoration: none;
	font-size: 1rem;
	line-height: 2;
	margin-inline-end: 1em;
}
