extends ../pug/templates/layout.pug

block title 
    title Contact • alvs 

block nav-links
    - var currentPage = 'contact'
    include ../pug/includes/nav-links

block page-intro 
    h1 Get in touch
block main 
    main
        p: b Got an interesting project you're working on, or just want to say hi?
        p I'd love to hear from you! The best way to reach me is through an email.

        h3.contact
            include ../pug/includes/svg/email
            span Email: 
            include ../pug/includes/socialsDb
            - content = `${mail}`
            a(href=`mailto:${mail}`) #{content}
        p.notice: small
            b Please Note : 
            | This is a randomly generated email that I change regularly to prevent spam. Sometimes, i reply to your email from my actual email address, so you could save my contact info for future communications.
        hr
        h3 Contact form
        form 
            div.flex
                p 
                    label(for="") Name 
                    input(type="text" placeholder='Enter your name')
                p 
                    label(for="") Email 
                    input(type="email", name="", placeholder='Enter your email' required)
            p 
                label(for="") Subject
                input(type="text", name="" placeholder='Subject of your message' required)
            p 
                label(for="") Message 
                textarea(name="", cols="30", rows="6", placeholder="Enter your message") 
            button(type='submit') Send
            button(type="reset") Reset
