---
// layout
import PageLayout from "@layouts/PageLayout.astro";

// Components
import Skills from "@components/Skills.astro";

// data
import { socials } from "src/constants";
---

<PageLayout tabTitle="Welcome!">
	<h1>Hi I'm Avinash</h1>
	<p>
		Welcome to my little corner of the Internet. Here I share my work,
		thoughts, other places you can find me at.
	</p>

	<h3>I Create</h3>
	<p>
		Webpages and Webapps. The main area of my focus is in front-end
		development, building accessible, delightful interfaces. Check out
		<a href="/projects/">projects</a>
		I've built so far.
	</p>

	<h3>Languages and Tools</h3>
	<Skills />
	<blockquote>
		For a detailed and exhaustive list of skills and tools, read <a
			href="/notes/skills-and-tools"
		>
			my public note on skills and tools.
		</a>
	</blockquote>
	<h3>About this site</h3>
	<p>
		This site uses a custom-built minimal CSS framework, built with
		<a href="https://astro.build/" target="_blank">Astro</a>, and hosted on
		<a href="https://netlify.com/" target="_blank">Netlify</a>. You can
		checkout the source
		<a
			href={`https://github.com/${socials.githubUsername}/alvs.dev`}
			target="_blank">@github</a
		>.
	</p>
	<p>
		You can read more about the build process, and plans for this site
		<a href="./projects/alvs/">here</a>
	</p>
	<p>
		Every section of this site has long changelogs. I am completely unsure
		of what goes in.
	</p>
</PageLayout>
