extends ../pug/layouts/page.pug
block frontmatter 
    - pageTitle = "Things I'vs built"
    - currentPage = 'projects'
block title 
    title Projects • alvs 

block main
    include ../pug/includes/projectsDb
    each project in projectsDb 
        include ../pug/includes/project-card