---
// layout
import PageLayout from "../layouts/PageLayout.astro";

// components
import ProjectCard from "../components/ProjectCard.astro";

// types
import type { ProjectDetailsFrontmatter } from "../types/ProjectDetailsFrontmatter";

// data
const tags = ["All", "React", "Typescript", "Javascript", "Astro"];
const projects = await Astro.glob<ProjectDetailsFrontmatter>(
    "../projectDetails/**/*.md"
);
---

<PageLayout tabTitle="Projects" title="Things I've built">
    <main>
        <div id="tags-container">
            {
                tags.map((tag) => (
                    <span
                        class={`tag ${tag === "All" && "selected"}`}
                        tabindex="0"
                    >
                        {tag}
                    </span>
                ))
            }
        </div>
        <p id="result-msg" class="hide"></p>
        {
            projects.map((project) => {
                return <ProjectCard project={project.frontmatter} />;
            })
        }
    </main>
</PageLayout>

<style>
    .hide {
        display: none;
    }
    #result-msg {
        color: var(--text-light);
        font-size: 1rem;
        font-style: italic;
    }
    #result-msg :global(#built-with) {
        font-weight: bold;
    }
    #tags-container {
        padding: 1rem 0;
        position: sticky;
        top: 0;
        display: flex;
        overflow-x: scroll;
        gap: 15px;
        z-index: 1;
        background-color: var(--bg);
        border-bottom: 1px dashed var(--border);
    }
    #tags-container .tag {
        border: 1px solid var(--border);
        cursor: pointer;
        border-radius: 10px;
        padding: 5px 15px;
    }
    #tags-container .tag.selected,
    #tags-container .tag:hover {
        border-color: var(--accent);
        color: var(--accent);
    }
</style>

<script>
    const tagFilters = document.querySelectorAll("#tags-container .tag");

    // Event listners
    tagFilters.forEach((tagEl) => {
        tagEl.addEventListener("click", (e) => {
            const target = e.target as HTMLElement;

            filterProjects(target.innerText);
            updateSelectedTag(target, tagFilters);
            updateResultMsg(target.innerText);
        });
    });

    // FUNCTIONS
    // adds "selected" class to 'selectedTagEl' and removes "selected" class for the rest if exists.
    function updateSelectedTag(
        selectedTagEl: HTMLElement,
        allTagEl: NodeListOf<Element>
    ): void {
        allTagEl.forEach((tagEl) => {
            if (tagEl === selectedTagEl) tagEl.classList.add("selected");
            else if (tagEl.classList.contains("selected"))
                tagEl.classList.remove("selected");
        });
    }

    // adds "hide" class to 'projectCard' if the customHTML Attribute 'tags' does not include the 'filter'
    function filterProjects(filter: string): void {
        const allProjectCards = document.querySelectorAll(".project-card");
        filter = filter.toLowerCase();

        allProjectCards.forEach((projectCard) => {
            const tags = projectCard
                .getAttribute("tags")
                ?.toLowerCase()
                .split(" ");

            if (filter === "all" || tags?.includes(filter)) {
                projectCard.classList.remove("hide");
            } else {
                projectCard.classList.add("hide");
            }
        });
    }

    function updateResultMsg(filter: string) {
        const resultMsgEl = document.querySelector(
            "#result-msg"
        ) as HTMLParagraphElement;

        if (filter !== "All") {
            resultMsgEl.classList.remove("hide");
            resultMsgEl.innerHTML = `"Showing results for projects built with <span id="built-with"
            >${filter}</span>"`;
        } else {
            resultMsgEl.innerHTML = `"Showing results for <span id="built-with"
            >${filter}</span> projects"`;
        }
    }
</script>
