---
import PageLayout from "@layouts/PageLayout.astro";
import { Icon } from "astro-icon/components";
---

<PageLayout tabTitle="Resume">
  <div class="header">
    <h1>Resume</h1>
    <a
      href="https://docs.google.com/document/d/18bA86UaDA-uf2K0nV5dYiv23MMp_YkEjvkvXBcwXH6M/export?format=pdf"
      class="nav-like"
    >
      <Icon name={"lucide:download"} size={16} />
      Download</a
    >
  </div>
  <iframe
    src="https://docs.google.com/document/d/18bA86UaDA-uf2K0nV5dYiv23MMp_YkEjvkvXBcwXH6M/preview"
    loading="lazy"
  >
  </iframe>
</PageLayout>

<style>
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  iframe {
    background: #f8f9fa;
  }

  a.nav-like {
    margin-bottom: -14px;
    border-color: var(--accent);
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--accent);
  }
</style>
