<a id="back-to-projects">â†</a>

<script is:inline>
    document
        .getElementById("back-to-projects")
        .addEventListener("click", () => history.back());
</script>

<style>
    #back-to-projects {
        cursor: pointer;
    }
</style>
