---
import { Icon } from "astro-icon/components";
---

<a id="back-in-history" class="nav-like">
  <Icon name={"lucide:arrow-left"} size={16} />
</a>

<script is:inline>
  document
    .getElementById("back-in-history")
    .addEventListener("click", () => history.back());
</script>

<style>
  #back-in-history {
    cursor: pointer;
    width: fit-content;
    padding: 0.45rem 1rem;
    height: auto;
  }
  a.nav-like {
    border-color: var(--accent);
    color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
