---
import type { CollectionEntry } from "astro:content";
import BookCard from "@components/BookCard.astro";

interface Props {
	books: CollectionEntry<"books">[];
}

const { books } = Astro.props;
---

<div class="books-list">
	{books.map((book) => <BookCard book={book} />)}
</div>

<style>
	.books-list {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-top: 2.5rem;
	}
</style>
