---
import socials from "../data/socials.json";
---

<footer>
    <p>
        Built with <a href="https://astro.build/" target="_blank">Astro</a>
    </p>
    <div class="socials">
        <a
            href={`https://github.com/${socials.githubUsername}/`}
            target="_blank">Github</a
        >
        <a href={`mailto:${socials.email}`}>Email</a>
    </div>
</footer>

<style>
    footer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 25px;
    }

    .socials > a {
        padding-right: 10px;
    }

    @media screen and (max-width: 670px) {
        footer {
            justify-content: center;
        }
    }
</style>
