---
// types
export interface Props {
	title: string;
	showNav: boolean;
}

// props
const { title, showNav } = Astro.props;

// data
import socials from "@data/socials.json";
import rootNav from "@data/rootNav.json";

const pathName = Astro.url.pathname;
---

<header aria-label="header">
	{
		showNav && (
			<>
				<nav aria-label="main navigation">
					{rootNav.map((navItem) => (
						<a
							href={navItem.path}
							class={pathName === navItem.path ? "active" : ""}
						>
							{navItem.title}
						</a>
					))}
					<a
						class="social"
						href={`https://github.com/${socials.githubUsername}`}
						target="_blank"
					>
						Github
					</a>
				</nav>
			</>
		)
	}
	<h1>
		{title}
	</h1>
	<div></div>
</header>
