---
import { getCollection } from "astro:content";

// Components
import ProjectCard from "@components/ProjectCard.astro";

interface Props {
  count?: number;
}

const { count } = Astro.props;

const allProjects = await getCollection("projects", ({ data }) => !data.isDraft && data.featured);

const sortedProjects = allProjects.sort((a, b) => {
  if (b.data.year !== a.data.year) return b.data.year - a.data.year;
  return a.data.title.localeCompare(b.data.title);
});

const displayedProjects = count ? sortedProjects.slice(0, count) : sortedProjects;
---

<div class="projects-list">
  {
    displayedProjects.map((project) => {
      return <ProjectCard project={project} />;
    })
  }
</div>

<style>
  .projects-list {
    display: flex;
    flex-direction: column;
    margin-top: -1.5rem; /* Offset project card padding */
  }
  @media (max-width: 768px) {
    .projects-list {
      margin-top: -1rem;
    }
  }
</style>
