---
// layout
import PageLayout from "@layouts/PageLayout.astro";

// components
import ProjectCard from "@components/ProjectCard.astro";
import { getEntry } from "astro:content";

const fetchedProjects = [];
fetchedProjects.push(await getEntry("projects", "orbit"));
fetchedProjects.push(await getEntry("projects", "audiophile"));
fetchedProjects.push(await getEntry("projects", "markdown-editor"));
fetchedProjects.push(await getEntry("projects", "photosnap"));
---

<PageLayout tabTitle="Projects">
	<h1>Things I've built</h1>
	<div class="projects-container">
		{
			fetchedProjects.map((project) => {
				return <ProjectCard project={project} />;
			})
		}
	</div>
</PageLayout>

<style>
	.projects-container {
		display: flex;
		flex-direction: column;
	}
</style>
