nav a.active,
nav a:hover {
	color: var(--accent);
	border-color: var(--accent);
}
a.nav-like {
	border: 1px solid var(--border);
	border-radius: 5px;
	color: var(--text);
	display: inline-block;
	padding: 0.1rem 1rem;
	text-decoration: none;
	font-size: 1rem;
	line-height: 2;
	margin-inline-end: 1em;
}

.socials > a {
	padding-right: 10px;
}
