---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";

// Components
import BackInHistory from "@components/BackInHistory.astro";

type Props = {
	note: CollectionEntry<"notes">;
};

// props
const { note } = Astro.props;
---

<Layout
	categoryTabTitle="Note"
	pageTabTitle={note.data.title}
	pageTitle={note.data.title}
	showNav={false}
>
	<div class="sub-navigation">
		<BackInHistory />
		<div class="links-container">
			<a href="/" class="nav-like">Home</a>
			<a href="/notes" class="nav-like">Notes</a>
		</div>
	</div>
	<slot />
</Layout>

<style>
	.sub-navigation {
		display: flex;
		justify-content: space-between;
		margin: 1.5rem 0;
	}
	.links-container {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
	a.nav-like {
		border-color: var(--accent);
		color: var(--accent);
	}
</style>
