---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";

// Components
import BackInHistory from "@components/BackInHistory.astro";

type Props = {
	note: CollectionEntry<"notes">;
};

// props
const { note } = Astro.props;
---

<Layout
	categoryTabTitle="Note"
	pageTabTitle={note.data.title}
	pageTitle={note.data.title}
	showNav={false}
>
	<div class="sub-navigation">
		<BackInHistory />
		<div>
			<a href="/" class="nav-like">Home</a>
			<a href="/notes" class="nav-like">Notes</a>
		</div>
	</div>
	<slot />
</Layout>

<style>
	.sub-navigation {
		display: flex;
		justify-content: space-between;
		margin-bottom: 45px;
	}
	div :global(a.nav-like) {
		border-color: var(--accent);
		color: var(--accent);
	}
</style>
